.showh2{
  color: #0C4536;
}

.hiddenbuttons p {
  text-align: justify;
}

.h5show{
  color: #5DB5A2;
}

.btn-outline-success {
  color: #5DB5A2;
}

.imageee{
  object-fit: cover;
}

.justifyshow{
text-align: justify;
}


// Specific CSS for your home-page

.animal-photo {
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  height:25vh;
}
