<%= link_to animal_path(animal), class: "text-decoration-none" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= animal.image.url %>)">
    <%= animal.name %>
  </div>
<% end %>
