<div class="footer">
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon © 2022
  </div>
  <div class="footer-links">
    <a href="#">Home</a>
    <a href="#">All Animals</a>
    <a href="#">Sign up</a>
  </div>
</div>
