<div class="jumbotron jumbotron-fluid">
  <div class="container text">
    <h1 class="display-4 text-center">About ExoPetNet</h1>
    <div class="container jumbo">
        <div class="item">
          <p class="line-content"><i class="fa-solid fa-hippo">  </i> We are in the business of helping people find happiness and peace by spending time with animals.</p>
        </div>
        <div class="item">
          <p class="line-content"><i class="fa-solid fa-otter">  </i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu mauris a elit varius malesuada.</p>
        </div>
        <div class="item">
        <p class="line-content"><i class="fa-solid fa-horse">  </i> Vivamus imperdiet tellus sollicitudin gravida finibus. Cras nec nisl eu ex blandit bibendum.</p>
        </div>
        <div class="item">
        <p class="line-content"><i class="fa-solid fa-crow">  </i> Phasellus et enim leo. Etiam quis vulputate sem. Vestibulum sed eros erat.</p>
        </div>
      </div>
    </div>
  </div>
</div>
