<h2 class="h2popup"><%= animal.name %></h2>

  <div class="row" >
    <div class="col-3">
      <div class="popupcards">
        <%= cloudinary_image(animal, 'imagepopup')  %>
        <div class="card-body">
          <p class="text-center"> <%= animal.specie %>
          <p><%= link_to "More details", animal_path(animal), class:'aleluia'%></p>
        </div>
      </div>
    </div>
</div>
