<div class="text-center m-4">
  <h1>Animals</h1>
</div>

<div class="cards m-5">
  <%#= link_to "Back to main page", root_path %>
  <% @animals.each do |animal| %>
    <%#= render "shared/card-home", animal: animal %>
    <%= render "shared/card-index", animal: animal %>
  <% end %>
</div>

