<div>
  <h1>Animals</h1>
</div>

<div>
  <ul>
    <% @animals.each do |animal| %>
      <li>
        <%=link_to "#{animal.name}", animal_path(animal) %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Back to main page", root_path %>
