<h2><%= @animal.name %></h2>



<p><%= link_to "Back to list", animals_path %></p>

<p><%= link_to "Back to main page", root_path %></p>


<%= button_to "Destroy this animal", @animal, method: :delete if policy(@animal).destroy? %>
