.banner-carousel {
  margin: 40px solid white;
  padding: 30px solid white;
  img {
    height: 70vh;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}

#indicator {
  bottom: -35px;
}

.carousel-color-black {
  color: black!important;
  text-shadow: 1px 1px rgb(217, 216, 216)!important;
}

.top-tagline {
  top: 3px;
}

.carousel-options {
  max-height: 75vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  h1 {
    size: 40px;
    font-family: 'Merriweather Sans', sans-serif;
  }
}

.cardstitle-container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: space-around;
  font-family: 'Merriweather Sans', sans-serif;
}
