.banner-carousel {
  height:80vh;
  border: 20px solid white;
  margin: 25px solid white;
  img{
    height: 80vh;
  }
}

#indicator {
  bottom: -35px;

}

.carousel-color-black {
  color: black!important
}

.carousel-options {
  height: 75vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  h1 {
    size: 30px;
    font-family: 'Playfair Display', serif;
  }
}

#btn1 {
  color: white;
}
