.btn-flat {
  color: white;
  padding: 4px 4px;
  border-radius: .2px;
  font-size: 18px;
  background: #a3c19b;
  transition: background 0.2s ease;
  border-radius: 10px;
}

.btn-flat:hover {
  background: #3c4f3d;
  color: white;
}
