.login-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.forgot-password-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.signup-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.resend-password-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.new-animal-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.edit-animal-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.index-animal-card {
  overflow: hidden;
  height: 120px;
  width: 500px;
  background: white;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.index-animal-card .index-animal-card-infos {
  padding: 20px;
  border-radius: 4px;
}

.index-animal-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.index-animal-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.index-animal-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}
