.login-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.forgot-password-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.signup-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.resend-password-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.new-animal-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.edit-animal-card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

// .index-animal-card {
//   overflow: hidden;
//   height: 120px;
//   width: 500px;
//   background: white;
//   box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
//   display: flex;
//   align-items: center;
//   border-radius: 4px;
//   margin: 0 auto;
//   margin-bottom: 10px;
// }

// .index-animal-card .index-animal-card-infos {
//   padding: 20px;
//   border-radius: 4px;
// }

// .index-animal-card img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .index-animal-card h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
//   color: black;
// }

// .index-animal-card p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
//   color: black;
// }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.show-animal-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.show-animal-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.show-animal-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.show-animal-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.show-animal-card .show-animal-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-description {
  color: rgba(0,0,0,0.7);
  font-size: 14px;
  padding: 3px 12px;
}

.image-container {
  height: 30px;
  width: 30px;

}

.cards-index-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    flex-grow: 1;
    /* margin: 16px 16px 0 16px; */
    padding: 10px;
}

.card-index-page {
  width: 20rem;
  box-shadow: 0 0 15px #a3c19b;
  border-radius: 12px;
  padding-bottom: 15px;
}

.index-container {
  display: flex;
}

#map {
  position: sticky;
  padding: 10px;
  width: 50%;
  height: 100vh;
}

#image-index-corner {
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;


}
