.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.popupcards{
  height: 100px;
  width: 100px;
}

.imagepopup{
  height: 50px;
  width: 50px;
  object-fit: cover;
}


.aleluia{
  font-size: 10px;
  text-decoration: none;
  color: #5DB5A2;
}
